@font-face {
  font-family: "rf";
  src: url("./assets/Rejouice-Headline.ttf");
}
@font-face {
  font-family: "rr";
  src: url("./assets/NBInternationalProBoo.ttf");
}

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fbf8f3;
}

.main {
  overflow: hidden;
}

.page1 {
  height: 100vh;
  width: 100%;
  background-color: #ac8e8e;
  position: relative;
}

.page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.playReel {
  height: 7.5vw;
  width: 7.5vw;
  border-radius: 50%;
  background-color: #e46135;
  position: fixed;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}
.playReel h5 {
  font-weight: 200;
  font-family: rf;
  letter-spacing: 0.2mm;
}

.page1Content {
  height: 100%;
  width: 100%;
  /* background-color: rgb(0, 0, 0); */
  position: relative;
  z-index: 10;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.3vw 2vw;
}

nav h3 {
  font-weight: 100;
  font-family: "rf";
  padding-left: 2.5vw;
}

nav h4 {
  letter-spacing: 0.2mm;
  font-family: "rf";
  padding-right: 2.5vw;
}

.page1Content h1 {
  font-weight: 100;
  font-family: "rf";
  font-size: 27vw;
  line-height: 75%;
}
.page1Content h1 span {
  color: #fbf8f3;
  font-family: "rf";
}
.page2 {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 99;
}

.topelem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8vh;
  padding-bottom: 4vh;
  margin-left: 3vw;
  margin-right: 4vw;
  border-bottom: 0.001px solid rgba(0, 0, 0, 0.523);
  overflow: hidden;
}

.topelem h3 {
  font-weight: 100;
  font-family: rr;
  font-size: 1.3em;
  overflow: hidden;
  scroll-behavior: smooth 100ms ease-in;
}

.page2 .topelem h4 {
  font-weight: 100;
  font-family: rr;
  font-size: 1.3em;
  align-self: flex-end;
}

.elem {
  min-height: 100vh;
  width: 100vw;
}
.elem h1 {
  font-weight: 500;
  font-family: rr;
  font-size: 3.2em;
  padding: 1vw 3vw;
  line-height: 99%;
  height: 100vh;
  width: 100vw;
}

.elem .line1 {
  height: 9vh;
  width: 100vw;
  margin-left: 8vw;

  overflow: hidden;
}
.elem .line2 {
  height: auto;
  width: 100vw;
  overflow: hidden;
}
.elem .line3 {
  height: auto;
  width: 100vw;
  overflow: hidden;
  object-fit: contain;
}
.elem .line4 {
  height: auto;
  width: 100vw;
  overflow: hidden;
  object-fit: contain;
}
.elem .line5 {
  height: 8.8vh;
  width: 100vw;
  overflow: hidden;
  object-fit: contain;
}
.elem .line6 {
  height: 17vh;
  width: 100vw;
  padding-right: 6vw;
  object-fit: contain;
  overflow: hidden;
}

.page3 {
  height: 40vh;
  width: 100vw;
  position: relative;
  text-align: center;
  margin-bottom: 4vh;
}

.page3 h4 {
  font-family: rr;
  font-weight: 100;
  font-size: 0.97em;
}

.page3 h4 span {
  text-align: center;
  font-family: rr;
  font-weight: 100;
  font-size: 0.6em;
  background-color: black;
  color: white;
  padding: 0.5em;
  width: 3vw;
  border-radius: 25px;
  position: relative;
}

.page3 h2 {
  font-family: rr;
  font-weight: 100;
  font-size: 3em;
}

.page4 {
  height: 84vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.page4 .page4head {
  display: flex;
  justify-content: space-between;
  margin: 2vh 3vw;
}
.page4 .page4head h4 {
  font-family: rr;
  font-weight: 100;
  font-size: 3.1vh;
}

.page4 .page4foot {
  display: flex;
  justify-content: space-around;
  margin: 2vh 3vw;
}
.page4 .page4A {
  height: 75vh;
  width: 30.5vw;
  position: relative;
}
.page4 .page4B {
  height: 75vh;
  width: 30.5vw;
  position: relative;
}
.page4 .page4C {
  height: 75vh;
  width: 30.5vw;
  position: relative;
}
.page4foot .page4A video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.page4foot .page4B video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.page4foot .page4C video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.page4foot .page4A img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  transition: all ease-in 1000ms;
}

.page4foot .page4B img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  transition: all ease-in 1000ms;
}
.page4foot .page4C img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  transition: all ease-in 1000ms;
}
.page4foot .page4A:hover img {
  opacity: 0;
}
.page4foot .page4B:hover img {
  opacity: 0;
}
.page4foot .page4C:hover img {
  opacity: 0;
}
